### Metals ###
.metals/
.bloop/
project/**/metals.sbt

### SBT ###
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### SBT Patch ###
.bsp/

### Scala ###
*.class
*.log

.idea/

# Custom
.DS_Store
project/project
*.semanticdb

.scala-build/
